extends layout

block content
	h3 Welcome to xory
	p this is the home page. trending debates and other cool things go here.

	br
	h3 new debates
		div
			each newDebate in newDebates
				p 
					a(href='/debate? #{newDebate._id}') #{newDebate.option1} or #{newDebate.option2}