extends layout

block content
	h3 Welcome to xory
	p this is the home page. trending debates and other cool things go here.
	p check out a mock debate:
	a(href='/debate?1') Libertarianism or Traditional Conservatism