extends layout

block content
	h3 register
	form
		div.row
			p username
			input
		div.row
			p password
			input
		div.row
			p confirm password
			input
		div.row
			p email
			input
		div.row
			p political views
			input
		div.row
			p religious views
			input
		div.row
			p operating system
			input
		div.row
			p type of cell phone
			input
		div.row
			p paper or plastic?
			input
		div.row
			p 
			input.btn(type='submit')
		div.row
			a(href='/') home